body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
  display: flex;
  height: 100vh;
  width: auto !important;
  justify-content: center;
  align-items: center;
}

.container {
  width: 420px;
  margin: 50px auto;
  background-color: #333;
  color: #E8E8E8;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
h1 {
  text-align: center;
  font-family: 'JetBrains Mono';
  color: white;
  font-size: 25px;
}
h2 {
  text-align: left;
  margin-bottom: -10px;
  margin-top: -5px;
  font-family: 'JetBrains Mono';
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  text-align: left;
  margin-bottom: 30px;
  font-family: 'JetBrains Mono';
  justify-content: left;
  font-size: 15px;
  color: white;
}

.linha_horizontal {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(232, 232, 232, 0), rgba(232, 232, 232, 0.137), rgba(232, 232, 232, 0)); 
  margin: 20px 0;
}

.switch-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 15px;
}
.switch-label {
  margin-right: 10px;
  font-size: 13px;
}
.form-section {
  display: none;
}
.show {
  display: block;
}
form {
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #ffff;
  background-color: #333;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
/* The switch - the box around the slider */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  margin: 10px;
  margin-top: -2px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  box-sizing: border-box;
  border: 2px solid #000;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .15s;
  border-radius: 20px;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  left: 4px;
  bottom: -2px;
  background-color: #e8e8e8;
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 #000;
  transition: .15s;
}

input:checked + .slider {
  background-color: #E8E8E8;
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px #007bff;
}

/* Raise thumb when hovered */
input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 #000;
}

input:checked + .slider:before {
  transform: translateX(calc(60px - 34px)) translateY(-0.1em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
  transform: translateX(calc(60px - 34px)) translateY(-0.1em);
  box-shadow: 0 0.3em 0 #000;
}

 /* Estilos do Input container */
    .input-container {
      position: relative;
      margin-bottom: 20px;
    }

    /* Estilos do Input field */
    .input-field {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      background-color: transparent;
    }

    /* Estilos do Input label */
    .input-label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
      color: rgba(204, 204, 204, 0);
      pointer-events: none;
      transition: all 0.3s ease;
    }

    /* Estilos do Input highlight */
    .input-highlight {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: #e8e8e8;
      transition: all 0.3s ease;
    }

    /* Estilos do Input field:focus */
    .input-field:focus + .input-label {
      top: -20px;
      font-size: 15px;
      color: #e8e8e8;
    }

    .input-field:focus + .input-label + .input-highlight {
      width: 100%;
    }

/* design do botão de criar assinatura */
button {
  margin-top: 20px;
  font-family: inherit;
  font-size: 18px;
  background: rgb(35, 177, 82);
  font-weight: bold;
  color: white;
  padding: 0.4em 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 1em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(10em);
  padding: 1px 1px;
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* passagem de mensagens */
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
  height: 60px; 
}

.word {
  overflow: hidden;
  position: relative;
  height: 100px; 
}


.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 5s infinite;
  font-size: 30px
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

